.header {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-inline: 200px;
    border-radius: 30px;
    padding-inline: 100px;
}

.hero-head {
    padding-top: 20px;
    padding-bottom: 30px;
}

.back-nav {
    font-size: 20px;
}

.hero-head-title {
    font-size: 40px;
    font-weight: bold;
}

.hero-content {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    position: relative;
}

.hero-left {
    position: absolute;
    top: 0;
    left: 0;
}

.user-card {
    width: 250px;
    padding: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.user-card-head {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.user-icon {
    height: 75px;
}

.user-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-name {
    font-size: 17px;
    font-weight: bold;
}

.user-designation {
    font-size: 17px;
    font-weight: 100;
    color: rgb(106, 114, 130);
}

.user-follow-options {
    margin-block: 20px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.follow-icon {
    height: 16px;
}

.hero-right {
    width: 630px;
}

.hero-right-head {
    font-size: 34px;
}

.hero-right-sub-head {
    font-size: 19px;
    margin-top: 30px;
}

.hero-right-body {
    margin-top: 10px;
}

.hero-right-body,
.body-quote {
    font-size: 14px;
    color: rgb(106, 114, 130);
    text-align: justify;
}

.body-quote {
    border-left: 3px rgb(220, 184, 129) solid;
    padding-left: 30px;
    margin-block: 30px;
}

.blog-title {
    font-size: 33px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: rgb(247, 246, 249);
    width: 400px;
    padding: 7px;
    border-radius: 10px;
}

.blogs {
    background-color: rgb(247, 246, 249);
    width: 400px;
    padding: 7px;
    border-radius: 10px;
}

.blog-img {
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.card-details {
    display: flex;
    padding: 10px;
}

.card-date {
    display: flex;
    font-size: 13px;
    color: gray;
}

.card-time {
    display: flex;
    margin-left: 30px;
    font-size: 13px;
    color: gray;
}

.card-icon {
    margin-top: 2px;
    height: 15px;
    margin-right: 5px;
}

.card-content {
    padding: 10px;
}

.card-content-head {
    font-size: 25px;
}

.card-content-body {
    margin-top: 10px;
    font-size: 15px;
    color: gray;
}

.card-read-more {
    margin-top: 20px;
    font-size: 15px;
    color: rgb(60, 46, 37);
    padding-inline: 15px;
    padding-block: 10px;
    border-radius: 10px;
    border: solid, 1px, rgb(60, 46, 37);
    background-color: white;
    cursor: pointer;
}